<!DOCTYPE html>
<html>
<head>
  <title>html without CSS</title>
</head>
<body background="https://lh3.googleusercontent.com/pw/ACtC-3eSt44-YSMNhd5cXNMgys6xrbiZAS4N1n3Gohl3OIc67f0G1Gs4ufza-ZwL0cgro5aiEY7oaUoVqUXCmYb3TmjobAvGIvFRA7ttdAgEvHi6JFE2Ppcu9oVwFmDdURnz1Y5L5L9GtaFZC4S3iwszUdiO=w1609-h903-no?authuser=0">
  <div><center>
    <h2>Let's study together:</h2>
      <ul>
        <li><a href="https://www.sololearn.com/Course/HTML" target=_blank> HTML </a></li>
        <li><a href="https://tutorial.djangogirls.org" target=_blank> Django </a></li>
        <li><a href="https://www.sololearn.com/Course/Python" target=_blank> Python </a></li>
      </ul>
      </center>
  </div><hr>
  <div><center>
    <h2><font color="#FFFFFF">After completing these courses, we would need to learn more:</font></h2>
      <ul>
        <li><a href="https://www.sololearn.com/Course/CSS" target=_blank>CSS</a></li>
        <li><a href="https://www.sololearn.com/Course/PHP" target=_blank>PHP</a></li>
        <li><a href="https://www.sololearn.com/Course/JavaScript" target=_blank>JavaScript</a></li>
      </ul>
      </center>
  </div><hr>
  <div><center>
    <h1>My Coding Schedule</h1>
    <table border="1">
      <tr>
        <th><font color="#FFFFFF">Day</font></th>
        <th><font color="#FFFFFF">Mon</font></th>
        <th><font color="#FFFFFF">Tue</font></th>
        <th><font color="#FFFFFF">Wed</font></th>
        <th><font color="#FFFFFF">Thu</font></th>
        <th><font color="#FFFFFF">Fri</font></th>
      </tr>
      <tr>
        <td>What time?</td>
        <td colspan="5"><center>Anytime</center></td>
      </tr>
      <tr>
        <td>What to do?</td>
        <td colspan="5"><center>Learn</center></td>
      </tr>
    </table>
    </center>
  </div>
  <div><center>
    <h2><font color="#FFFFFF">This requires patience, motivation and a hell of a lot of coffee.</font></h2>
      <a href="https://giphy.com/gifs/eIfYQTaK3148kmMCxT/html5"target="_blank"><img  width="170" height="170"src="https://www.meme-arsenal.com/memes/c662fb1ddc7779f8331ca5810ffab49b.jpg"></a>
      <a href="https://www.youtube.com/embed/YNCopmqsw1Q"target="_blank"><img  width="170" height="170"src="https://images.genius.com/5ad178d1e34d4c0a45183341d23bb575.1000x1000x1.jpg"></a>
      <a href="https://youtu.be/KxwcQ1dapw8"target="_blank"><img  width="170" height="170"src="https://res.cloudinary.com/teepublic/image/private/s--cAq-amJG--/c_crop,x_10,y_10/c_fit,w_1109/c_crop,g_north_west,h_1260,w_1260,x_-76,y_-89/co_rgb:191919,e_colorize,u_Misc:One%20Pixel%20Gray/c_scale,g_north_west,h_1260,w_1260/fl_layer_apply,g_north_west,x_-76,y_-89/bo_157px_solid_white/e_overlay,fl_layer_apply,h_1260,l_Misc:Art%20Print%20Bumpmap,w_1260/e_shadow,x_6,y_6/c_limit,h_1134,w_1134/c_lpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1505750882/production/designs/1910603_1.jpg"></a>
    </center>
  </div>
  <div><center>
      <h1>Contact Me</h1>
      <form>
          <input name="name" placeholder="Name" type="text" required /><br/>
          <input name="email" placeholder="Email" type="email" required /><br/>
          <textarea name="message" placeholder="Message" required ></textarea>
          <input type="submit" value="SEND" class="submit" />
          </form>
        </center>
          </div>
  <br />
  <div class="copyright"><center>
      &copy; 2020 Simple html. All rights reserved.
      </center>
      </div>
</body>
</html>
